* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: calibri;
}

.container {
    max-width: 1550px;
    width: 100%;
    margin: 0 auto;
}


.header-container {
    justify-content: space-between;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 23px 81px;
    border: 0px solid white;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}

.world-text h1 {
    width: 274px;
    height: 33px;
    font-size: 30px;
    line-height: 32.74px;
    font-weight: 800;
    cursor: pointer;
}

.dark_light-mode {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    position: relative;
    transition: all 0.2s;
}

.dark_light-mode i {
    transform: rotate(-0.07turn);
    font-size: 24px;
    position: absolute;
    right: 90px;
    transition: all 0.2s;
}

.country-blocks {
    width: 264px;
    height: 336px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    transition: all 0.4s;
    background-color: #fff;
}


.country-blocks img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.country-blocks h1 {
    color: black;
}

.country-block {
    display: flex;
    align-items: center;
    gap: 70px;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.main-container {
    background: #eeeeee;
    padding: 40px 81px;
    transition: all 0.4s;
}

.countries-info {
    padding: 24px 24px;
    color: black;
    transition: all 0.4s;
}

.country-blocks h2 {
    font-size: 18px;
    font-weight: 800;
    margin-top: 20px;
    margin-left: 25px;
}

.countries-info p {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}



#input .inputt {
    width: 480px;
    height: 56px;
    border: none;
    margin-bottom: 40px;
    border-radius: 10px;
    outline: none;
    padding-left: 74px;
    background: url(../img/icon-search-black.svg) no-repeat 32px;
    background-color: #fff;
    transition: all 0.4s;
}

.second-input {
    width: 480px;
    height: 56px;
    border: none;
    margin-bottom: 40px;
    border-radius: 10px;
    outline: none;
    padding-left: 74px;
    background: url(../img/icon-search-black.svg) no-repeat 32px;
    background-color: #2B3844;
    color: #fff;
    transition: all 0.4s;
}



.input input::placeholder {
    position: absolute;
    color: #cfcfcf;
}

.main-selector {
    display: flex;
    justify-content: space-between;
}

.select-region .select-mode {
    width: 200px;
    height: 56px;
    border: none;
    outline: none;
    border-radius: 7px;
    cursor: pointer;
    padding: 10px;
    transition: all 0.4s;
}

.select-dark {
    width: 200px;
    height: 56px;
    border: none;
    outline: none;
    border-radius: 7px;
    cursor: pointer;
    padding: 10px;
    background-color: #2B3844;
    color: white;
    transition: all 0.4s;
}


.header-dMode {
    background-color: #2B3844;
    color: white;
    transition: all 0.5s;
}

.main-dMode {
    background-color: #202C36;
    transition: all 0.4s;
}

/* Loader style */
.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 98px;
    height: 98px;
    color: #bdbdbd;
    position: absolute;
    top: 150px;
    left: 47%;
}

.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}

.loader:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {

    0%,
    100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }

    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }

    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }

    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }

    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }

    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }

    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }

    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}

/* Loader style end */